.content-right {
    width: 90%;
    height: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    background-color: lightgrey;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      height: 100%;
      width: 55%;
      object-fit: cover;
    }
    .meta{
      width: 45%;
      height: 70%;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .sub-meta{

        a{
          font-size: 10px;
        }
      }
      
    }
  }